streamlit
pandas
plotly
numpy
scikit-learn
pdfplumber
langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
langgraph
sentence-transformers
chromadb
markdown
statsmodels
pypdf
packaging