streamlit
pandas
numpy
plotly
scikit-learn
pdfplumber
pypdf
pillow
pytesseract

langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langgraph

sentence-transformers
markdown
statsmodels
